<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ heading }}</h1>
    <p>{{ content }}</p>

    <hr>
    {% if is_home %}
        <p>Посилання на інші сторінки:</p>
        <ul>
            <li><a href="{% url 'about' %}">Про нас</a></li>
            <li><a href="{% url 'contacts' %}">Контакти</a></li>
        </ul>
    {% else %}
        <a href="{% url 'home' %}">← Назад на Головну сторінку</a>
    {% endif %}
</body>
</html>